In [2]:
import numpy as np
import pandas as pd

---
# Дані з таблиці таблиці "Коефіцієнт народжуваності в регіонах України (1950—2019)"
---

In [3]:
url = 'https://uk.wikipedia.org/wiki/%D0%9D%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B8'

df = pd.read_html(url, match='Коефіцієнт народжуваності в регіонах України')[0]
print(df)

               Регіон   1950   1960   1970  1990  2000  2012 2014 2019
0                Крим  230.0  206.0  160.0   130    73   126    —    —
1           Вінницька  224.0  192.0  142.0   124    84   112  109   76
2           Волинська  247.0  250.0  179.0   153   112   148  141  101
3    Дніпропетровська  204.0  204.0  151.0   123    71   112  111   71
4            Донецька  271.0  214.0  140.0   109    61    98   82    —
5         Житомирська  261.0  223.0  159.0   129    89   122  120   79
6        Закарпатська  314.0  273.0  207.0   168   115   151  146  104
7          Запорізька  219.0  197.0  150.0   124    71   106  106   68
8   Івано-Франківська  243.0  248.0  182.0   155   103   124  122   88
9            Київська  204.0  189.0  156.0   123    73   122  121   80
10     Кіровоградська  216.0  171.0  145.0   126    79   110  108   68
11          Луганська  262.0  235.0  144.0   116    62    96   51    —
12          Львівська  234.0  240.0  171.0   140    91   119  119   87
13       Миколаївська  211.0  194.0  155.0   137    80   115  112   71
14            Одеська  241.0  192.0  148.0   126    80   127  123   88
15         Полтавська  186.0  163.0  131.0   118    70    99  100   65
16         Рівненська  269.0  267.0  193.0   158   118   159  148  107
17            Сумська  216.0  184.0  132.0   115    70    97   92   60
18      Тернопільська  213.0  216.0  157.0   142    92   113  109   76
19         Харківська  197.0  173.0  140.0   114    68    99  101   68
20         Херсонська  208.0  214.0  166.0   143    85   117  115   81
21        Хмельницька  234.0  198.0  148.0   129    85   113  112   79
22          Черкаська  205.0  179.0  144.0   123    75   100   98   64
23        Чернівецька  247.0  218.0  170.0   148   101   128  129   92
24       Чернігівська  220.0  183.0  127.0   108    69    94   90   61
25               Київ    NaN  174.0  159.0   120    73   120  121  110
26        Севастополь    NaN    NaN    NaN   125    70   120    —    —
27            Україна  228.0  205.0  152.0   126    78   114  111   81

#1 Вивести перші рядки таблиці за допомогою методу head

In [5]:
df.head(3)

      Регіон   1950   1960   1970  1990  2000  2012 2014 2019
0       Крим  230.0  206.0  160.0   130    73   126    —    —
1  Вінницька  224.0  192.0  142.0   124    84   112  109   76
2  Волинська  247.0  250.0  179.0   153   112   148  141  101

#2 Визначте кількість рядків та стовпців у датафреймі (атрибут shape)

In [6]:
rows = df.shape[0]
columns = df.shape[1]
print(f"Кількість рядків: {rows}\nКількість стовпців: {columns}")

Кількість рядків: 28
Кількість стовпців: 9

#3 Замініть у таблиці значення "**—**" на значення NaN

In [7]:
df = df.replace('—', np.nan)
print(df.head())

             Регіон   1950   1960   1970  1990  2000  2012 2014 2019
0              Крим  230.0  206.0  160.0   130    73   126  NaN  NaN
1         Вінницька  224.0  192.0  142.0   124    84   112  109   76
2         Волинська  247.0  250.0  179.0   153   112   148  141  101
3  Дніпропетровська  204.0  204.0  151.0   123    71   112  111   71
4          Донецька  271.0  214.0  140.0   109    61    98   82  NaN

#4 Визначте типи всіх стовпців за допомогою dataframe.dtypes

In [8]:
df.dtypes

Регіон     object
1950      float64
1960      float64
1970      float64
1990        int64
2000        int64
2012        int64
2014       object
2019       object
dtype: object

#5 Замініть типи нечислових колонок на числові. Підказка - це колонки, де знаходився символ "—"

In [10]:
df["2014"] = df["2014"].apply(pd.to_numeric, errors='coerce')
df["2019"] = df["2019"].apply(pd.to_numeric, errors='coerce')

# years = df.columns[1:].tolist()


# df[years] = df[years].apply(pd.to_numeric, errors='coerce')
# filled_data =  df.fillna(df[years].mean())
# df[years] = df[years].astype(float).round(1)
# filled_data = filled_data[years].astype(float).round(1)

print(df.head(3))
# print(filled_data.head(3))
print(df.dtypes)
# print(filled_data.dtypes)

      Регіон   1950   1960   1970  1990  2000  2012   2014   2019
0       Крим  230.0  206.0  160.0   130    73   126    NaN    NaN
1  Вінницька  224.0  192.0  142.0   124    84   112  109.0   76.0
2  Волинська  247.0  250.0  179.0   153   112   148  141.0  101.0
Регіон     object
1950      float64
1960      float64
1970      float64
1990        int64
2000        int64
2012        int64
2014      float64
2019      float64
dtype: object

#6 Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [11]:
df.isnull().sum()

Регіон    0
1950      2
1960      1
1970      1
1990      0
2000      0
2012      0
2014      2
2019      4
dtype: int64

In [13]:
# filled_data.isnull().sum()

#7 Видаліть з таблиці дані по всій країні, останній рядок таблиці

In [14]:
df.drop(df.index[-1], inplace=True)
print(df.tail(2))

         Регіон  1950   1960   1970  1990  2000  2012   2014   2019
25         Київ   NaN  174.0  159.0   120    73   120  121.0  110.0
26  Севастополь   NaN    NaN    NaN   125    70   120    NaN    NaN

#8 Замініть відсутні дані в стовпцях середніми значеннями цих стовпців (метод fillna)

In [15]:
years = df.columns[1:].tolist()

filled_data =  df.fillna(df[years].mean())
filled_data = filled_data[years].astype(float).round(1)
print(filled_data)

     1950   1960   1970   1990   2000   2012   2014   2019
0   230.0  206.0  160.0  130.0   73.0  126.0  111.4   80.2
1   224.0  192.0  142.0  124.0   84.0  112.0  109.0   76.0
2   247.0  250.0  179.0  153.0  112.0  148.0  141.0  101.0
3   204.0  204.0  151.0  123.0   71.0  112.0  111.0   71.0
4   271.0  214.0  140.0  109.0   61.0   98.0   82.0   80.2
5   261.0  223.0  159.0  129.0   89.0  122.0  120.0   79.0
6   314.0  273.0  207.0  168.0  115.0  151.0  146.0  104.0
7   219.0  197.0  150.0  124.0   71.0  106.0  106.0   68.0
8   243.0  248.0  182.0  155.0  103.0  124.0  122.0   88.0
9   204.0  189.0  156.0  123.0   73.0  122.0  121.0   80.0
10  216.0  171.0  145.0  126.0   79.0  110.0  108.0   68.0
11  262.0  235.0  144.0  116.0   62.0   96.0   51.0   80.2
12  234.0  240.0  171.0  140.0   91.0  119.0  119.0   87.0
13  211.0  194.0  155.0  137.0   80.0  115.0  112.0   71.0
14  241.0  192.0  148.0  126.0   80.0  127.0  123.0   88.0
15  186.0  163.0  131.0  118.0   70.0   99.0  100.0   65.0
16  269.0  267.0  193.0  158.0  118.0  159.0  148.0  107.0
17  216.0  184.0  132.0  115.0   70.0   97.0   92.0   60.0
18  213.0  216.0  157.0  142.0   92.0  113.0  109.0   76.0
19  197.0  173.0  140.0  114.0   68.0   99.0  101.0   68.0
20  208.0  214.0  166.0  143.0   85.0  117.0  115.0   81.0
21  234.0  198.0  148.0  129.0   85.0  113.0  112.0   79.0
22  205.0  179.0  144.0  123.0   75.0  100.0   98.0   64.0
23  247.0  218.0  170.0  148.0  101.0  128.0  129.0   92.0
24  220.0  183.0  127.0  108.0   69.0   94.0   90.0   61.0
25  231.0  174.0  159.0  120.0   73.0  120.0  121.0  110.0
26  231.0  207.6  156.0  125.0   70.0  120.0  111.4   80.2