# Аналіз файлів

### Проведіть аналіз файлу 2017_jun_final.csv. Файл містить результати опитування розробників у червні 2017 року.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#1. Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv

In [ ]:
data = pd.read_csv('2017_jun_final.csv')
data

,N,Посада,Мова програмування,Спеціалізація,Загальний досвід роботи,Досвід роботи на поточному місці,Зарплата на місяць,Зміна зарплати за 12 місяців,Місто,Розмір компанії,...,Ще студент,Рівень англійської,Предметна область,Дата заповнення,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харків,до 10 осіб,...,True,Pre-intermediate (нище середнього),"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,менше 3 місяців,менше 3 місяців,430,130,Харків,більше 1000 осіб,...,True,Upper-Intermediate (вище середнього),Веб-розробка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Київ,до 1000 осіб,...,False,Intermediate (середній),"Веб-розробка,Корпоративні системи",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одеса,до 200 осіб,...,False,Pre-intermediate (нище середнього),"Desktop Applications,Веб-розробка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 і більше років,0.5,4500,500,Інше,до 10 осіб,...,False,Intermediate (середній),"Desktop Applications,Веб-розробка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8699,8700,QA engineer,NaN,Manual QA,1,менше 3 місяців,700,700,Одеса,до 50 осіб,...,False,Intermediate (середній),"Android,Desktop Applications",12/07/2017 15:45:24,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,1.0,0.0,700,NaN,QA
8700,8701,Marketing,NaN,NaN,0.5,0.5,400,120,Київ,до 50 осіб,...,False,Pre-intermediate (нище середнього),eCommerce,12/07/2017 17:00:06,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,NaN
8701,8702,Junior Software Engineer,Ruby/Rails,NaN,1,0.5,800,500,Львів,до 10 осіб,...,False,Upper-Intermediate (вище середнього),"Веб-розробка,Корпоративні системи",12/07/2017 17:32:26,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,800,NaN,DEV
8702,8703,Team lead,NaN,NaN,6,4,2600,0,Дніпро,більше 1000 осіб,...,False,Advanced (просунутий),Фінанси та банкінг,12/07/2017 18:14:59,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,6.0,4.0,2600,NaN,PM
8703,8704,Senior Software Engineer,Java,NaN,7,2,5000,800,Одеса,до 1000 осіб,...,False,Upper-Intermediate (вище середнього),Веб-розробка,12/07/2017 21:28:57,Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...,7.0,2.0,5000,NaN,DEV

#2. Прочитайте отриману таблицю, використовуючи метод head

In [ ]:
data.head(2)

,N,Посада,Мова програмування,Спеціалізація,Загальний досвід роботи,Досвід роботи на поточному місці,Зарплата на місяць,Зміна зарплати за 12 місяців,Місто,Розмір компанії,...,Ще студент,Рівень англійської,Предметна область,Дата заповнення,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харків,до 10 осіб,...,True,Pre-intermediate (нище середнього),"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,менше 3 місяців,менше 3 місяців,430,130,Харків,більше 1000 осіб,...,True,Upper-Intermediate (вище середнього),Веб-розробка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA

#3. Визначте розмір таблиці за допомогою методу shape

In [ ]:
print(f" Кількість рядків: {data.shape[0]} \n Кількість стопчиків: {data.shape[1]}")

 Кількість рядків: 8704
 Кількість стопчиків: 25

#4. Визначте типи всіх стовпців за допомогою dataframe.dtypes

In [ ]:
data.dtypes

N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

#5. Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [ ]:
data.isnull().sum()

N                                      0
Посада                                 0
Мова програмування                  3850
Спеціалізація                       7219
Загальний досвід роботи                0
Досвід роботи на поточному місці       0
Зарплата на місяць                     0
Зміна зарплати за 12 місяців           0
Місто                                  0
Розмір компанії                        0
Тип компанії                           0
Стать                                  0
Вік                                    0
Освіта                                 0
Університет                          358
Ще студент                             0
Рівень англійської                     0
Предметна область                    223
Дата заповнення                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

#6. Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"

In [ ]:
dropped_any_nan_data = data.dropna(how='any',
                           subset=data.columns.difference(['Мова програмування'])).copy()
dropped_any_nan_data

,N,Посада,Мова програмування,Спеціалізація,Загальний досвід роботи,Досвід роботи на поточному місці,Зарплата на місяць,Зміна зарплати за 12 місяців,Місто,Розмір компанії,...,Ще студент,Рівень англійської,Предметна область,Дата заповнення,User.Agent,exp,current_job_exp,salary,Валюта,cls
3649,3650,QA Tech Lead,NaN,Automation QA,9,3,6000,500,Дніпро,до 1000 осіб,...,False,Elementary (початковий),"Фінанси та банкінг,eCommerce",13/06/2017 22:22:50,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,9.0,3.0,6000,h,QA

#7. Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"

In [ ]:
dropped_any_nan_data.isnull().sum()

N                                   0
Посада                              0
Мова програмування                  1
Спеціалізація                       0
Загальний досвід роботи             0
Досвід роботи на поточному місці    0
Зарплата на місяць                  0
Зміна зарплати за 12 місяців        0
Місто                               0
Розмір компанії                     0
Тип компанії                        0
Стать                               0
Вік                                 0
Освіта                              0
Університет                         0
Ще студент                          0
Рівень англійської                  0
Предметна область                   0
Дата заповнення                     0
User.Agent                          0
exp                                 0
current_job_exp                     0
salary                              0
Валюта                              0
cls                                 0
dtype: int64

#8. Видаліть усі рядки у вихідній таблиці за допомогою методу dropna

In [ ]:
data.dropna(inplace=True)
data

Empty DataFrame
Columns: [N, Посада, Мова програмування, Спеціалізація, Загальний досвід роботи, Досвід роботи на поточному місці, Зарплата на місяць, Зміна зарплати за 12 місяців, Місто, Розмір компанії, Тип компанії, Стать, Вік, Освіта, Університет, Ще студент, Рівень англійської, Предметна область, Дата заповнення, User.Agent, exp, current_job_exp, salary, Валюта, cls]
Index: []

[0 rows x 25 columns]

#9. Визначте новий розмір таблиці за допомогою методу shape

In [ ]:
data.shape

(0, 25)

#10. Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python

In [ ]:
data = pd.read_csv('2017_jun_final.csv')
python_data = data.loc[data['Мова програмування'] == 'Python']
python_data

,N,Посада,Мова програмування,Спеціалізація,Загальний досвід роботи,Досвід роботи на поточному місці,Зарплата на місяць,Зміна зарплати за 12 місяців,Місто,Розмір компанії,...,Ще студент,Рівень англійської,Предметна область,Дата заповнення,User.Agent,exp,current_job_exp,salary,Валюта,cls
12,13,Software Engineer,Python,NaN,1,менше 3 місяців,800,200,Київ,до 50 осіб,...,False,Pre-intermediate (нище середнього),"Веб-розробка,Інше",12/06/2017 13:05:54,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,1.0,0.0,800,NaN,DEV
68,69,Software Engineer,Python,NaN,1.5,0.5,900,900,Київ,до 10 осіб,...,True,Upper-Intermediate (вище середнього),Веб-розробка,12/06/2017 13:11:17,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.5,0.5,900,NaN,DEV
87,88,Junior Software Engineer,Python,NaN,0.5,0.5,600,0,Київ,до 10 осіб,...,True,Upper-Intermediate (вище середнього),"Веб-розробка,eCommerce",12/06/2017 13:12:25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.5,0.5,600,NaN,DEV
114,115,Junior Software Engineer,Python,NaN,1.5,0.5,685,250,Київ,до 1000 осіб,...,False,Intermediate (середній),Інше,12/06/2017 13:14:52,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.5,0.5,685,NaN,DEV
143,144,Junior Software Engineer,Python,NaN,1,1,750,250,Київ,до 10 осіб,...,True,Upper-Intermediate (вище середнього),Веб-розробка,12/06/2017 13:19:10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,1.0,750,NaN,DEV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8546,8547,Software Engineer,Python,NaN,5,1,2000,800,Запоріжжя,до 50 осіб,...,False,Intermediate (середній),Веб-розробка,10/07/2017 14:11:26,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...,5.0,1.0,2000,NaN,DEV
8625,8626,Software Engineer,Python,NaN,4,1,1750,0,Київ,більше 1000 осіб,...,False,Intermediate (середній),Веб-розробка,11/07/2017 16:15:40,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,4.0,1.0,1750,NaN,DEV
8635,8636,Senior Software Engineer,Python,NaN,10 і більше років,менше 3 місяців,4000,1300,Віддалено,до 10 осіб,...,False,Upper-Intermediate (вище середнього),Веб-розробка,11/07/2017 17:51:36,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,10.0,0.0,4000,NaN,DEV
8673,8674,Junior Software Engineer,Python,NaN,0.5,0.5,350,50,Київ,до 50 осіб,...,False,Intermediate (середній),Веб-розробка,12/07/2017 9:37:16,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,0.5,0.5,350,NaN,DEV
8695,8696,Software Engineer,Python,NaN,1,0.5,1500,1000,Київ,до 10 осіб,...,False,Intermediate (середній),"Фінанси та банкінг,eCommerce",12/07/2017 14:39:21,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,1500,NaN,DEV

#11. Визначте розмір таблиці python_data за допомогою методу shape

In [ ]:
python_data.shape

(207, 25)

#12. Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"

In [ ]:
grouped_by_posada = python_data.groupby("Посада")
grupped = pd.concat([group for _, group in grouped_by_posada])
grupped

,N,Посада,Мова програмування,Спеціалізація,Загальний досвід роботи,Досвід роботи на поточному місці,Зарплата на місяць,Зміна зарплати за 12 місяців,Місто,Розмір компанії,...,Ще студент,Рівень англійської,Предметна область,Дата заповнення,User.Agent,exp,current_job_exp,salary,Валюта,cls
87,88,Junior Software Engineer,Python,NaN,0.5,0.5,600,0,Київ,до 10 осіб,...,True,Upper-Intermediate (вище середнього),"Веб-розробка,eCommerce",12/06/2017 13:12:25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.50,0.50,600,NaN,DEV
114,115,Junior Software Engineer,Python,NaN,1.5,0.5,685,250,Київ,до 1000 осіб,...,False,Intermediate (середній),Інше,12/06/2017 13:14:52,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.50,0.50,685,NaN,DEV
143,144,Junior Software Engineer,Python,NaN,1,1,750,250,Київ,до 10 осіб,...,True,Upper-Intermediate (вище середнього),Веб-розробка,12/06/2017 13:19:10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.00,1.00,750,NaN,DEV
162,163,Junior Software Engineer,Python,NaN,0.5,0.5,500,0,Вінниця,до 200 осіб,...,True,Pre-intermediate (нище середнього),Веб-розробка,12/06/2017 13:21:08,Mozilla/5.0 (Linux; Android 7.1.2; LG-D802 Bui...,0.50,0.50,500,NaN,DEV
171,172,Junior Software Engineer,Python,NaN,0.25,0.25,800,0,Київ,до 50 осіб,...,False,Advanced (просунутий),Телекомунікації,12/06/2017 13:22:31,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.25,0.25,800,NaN,DEV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5316,5317,Technical Lead,Python,NaN,10 і більше років,7,2700,0,Харків,до 10 осіб,...,False,Upper-Intermediate (вище середнього),Веб-розробка,20/06/2017 16:31:42,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,10.00,7.00,2700,NaN,SDEV
6192,6193,Technical Lead,Python,NaN,3,3,3700,0,Одеса,до 10 осіб,...,False,Upper-Intermediate (вище середнього),Корпоративні системи,21/06/2017 13:55:30,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,3.00,3.00,3700,NaN,SDEV
6910,6911,Technical Lead,Python,NaN,10 і більше років,10 і більше років,2500,200,Херсон,до 50 осіб,...,False,Pre-intermediate (нище середнього),Веб-розробка,26/06/2017 12:16:50,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,10.00,10.00,2500,NaN,SDEV
8381,8382,Technical Lead,Python,NaN,7,1,3000,1000,Віддалено,до 10 осіб,...,False,Upper-Intermediate (вище середнього),"Веб-розробка,Корпоративні системи",07/07/2017 19:51:15,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...,7.00,1.00,3000,NaN,SDEV
8445,8446,Technical Lead,Python,NaN,7,7,1900,150,Львів,до 200 осіб,...,False,Upper-Intermediate (вище середнього),"Веб-розробка,Корпоративні системи",08/07/2017 18:46:55,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,7.00,7.00,1900,NaN,SDEV

#13. Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата на місяць"

In [ ]:
agg_data = grouped_by_posada.agg({'Зарплата на місяць': ['min', 'max']})
agg_data

                         Зарплата на місяць
                                        min   max
Посада
Junior Software Engineer                100  1250
Senior Software Engineer               1300  9200
Software Engineer                       500  5400
System Architect                       3000  5000
Technical Lead                         1425  6200

#14. Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"

In [ ]:
def fill_avg_salary(row):
    return row.mean()

avg = agg_data['Зарплата на місяць'].apply(fill_avg_salary, axis=1)
agg_data[('Зарплата на місяць', 'avg')] = avg
agg_data

                         Зарплата на місяць
                                        min   max     avg
Посада
Junior Software Engineer                100  1250   675.0
Senior Software Engineer               1300  9200  5250.0
Software Engineer                       500  5400  2950.0
System Architect                       3000  5000  4000.0
Technical Lead                         1425  6200  3812.5

#15. Створіть описову статистику за допомогою методу describe для нового стовпчика.

In [ ]:
# avg.describe()
agg_data['Зарплата на місяць']['avg'].describe()

count       5.000000
mean     3337.500000
std      1700.091909
min       675.000000
25%      2950.000000
50%      3812.500000
75%      4000.000000
max      5250.000000
Name: avg, dtype: float64

#16. Збережіть отриману таблицю в CSV файл

In [ ]:
agg_data.to_csv('Salary_data.csv', header=['min', 'max', 'avg'])
saved_file = pd.read_csv('Salary_data.csv')
saved_file

                     Посада   min   max     avg
0  Junior Software Engineer   100  1250   675.0
1  Senior Software Engineer  1300  9200  5250.0
2         Software Engineer   500  5400  2950.0
3          System Architect  3000  5000  4000.0
4            Technical Lead  1425  6200  3812.5