In [2]:
import numpy as np
import pandas as pd

---
# pandas.Series
---

In [3]:
my_data = ['linear regression', 'Logistic regresiion', 'SVM', 'PCA']

In [4]:
mySeries1 = pd.Series(my_data)

In [5]:
print(mySeries1)
print(type(mySeries1))
mySeries1[0]

0      linear regression
1    Logistic regresiion
2                    SVM
3                    PCA
dtype: object
<class 'pandas.core.series.Series'>

'linear regression'

In [6]:

# для індексування за замовчуванням використовується послідовність цілих чисел (починаючи з 0)

data = [34, 2, 5, 45]
mySeries2 = pd.Series(data = data, index = my_data, name = 'statistic, methods')

In [8]:
print(mySeries2)
print(type(mySeries2))
print('[0] = ', mySeries2[0])
print('SVM = ', mySeries2['SVM'])

linear regression      34
Logistic regresiion     2
SVM                     5
PCA                    45
Name: statistic, methods, dtype: int64
<class 'pandas.core.series.Series'>
[0] =  34
SVM =  5

/tmp/ipykernel_143926/3900739549.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('[0] = ', mySeries2[0])

---
# pandas.DataFrame
---

In [9]:
# створення датафрейму
my_df_data = [('linear regression', 34), ('Logistic regresiion', 2), ('SVM', 5), ('PCA', 45)]
mydf = pd.DataFrame(my_df_data, columns = ['Algo_name', 'Number'])
mydf

             Algo_name  Number
0    linear regression      34
1  Logistic regresiion       2
2                  SVM       5
3                  PCA      45

In [10]:
print(type(mydf))
print(type(mydf['Algo_name']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [11]:
mydf.Algo_name

0      linear regression
1    Logistic regresiion
2                    SVM
3                    PCA
Name: Algo_name, dtype: object

In [13]:
contacts = pd.DataFrame(
    {
        "name": [
            "Allen Raymond",
            "Chaim Lewis",
            "Kennedy Lane",
            "Wylie Pope",
            "Cyrus Jackson",
        ],
        "email": [
            "nulla.ante@vestibul.co.uk",
            "dui.in@egetlacus.ca",
            "mattis.Cras@nonenimMauris.net",
            "est@utquamvel.net",
            "nibh@semsempererat.com",
        ],
        "phone": [
            "(992) 914-3792",
            "(294) 840-6685",
            "(542) 451-7038",
            "(692) 802-2949",
            "(501) 472-5218",
        ],
        "favorite": [False, False, True, False, True],
    },
    index=[1, 2, 3, 4, 5],
)

print(contacts)

            name                          email           phone  favorite
1  Allen Raymond      nulla.ante@vestibul.co.uk  (992) 914-3792     False
2    Chaim Lewis            dui.in@egetlacus.ca  (294) 840-6685     False
3   Kennedy Lane  mattis.Cras@nonenimMauris.net  (542) 451-7038      True
4     Wylie Pope              est@utquamvel.net  (692) 802-2949     False
5  Cyrus Jackson         nibh@semsempererat.com  (501) 472-5218      True

In [14]:
# вибір рядка за індексом

# print(contacts.iloc[5])  # IndexError  => 0,1,2,3,4
print(contacts.iloc[4])

name                 Cyrus Jackson
email       nibh@semsempererat.com
phone               (501) 472-5218
favorite                      True
Name: 5, dtype: object

In [15]:
# вибір стовпця
print(contacts['name'])

1    Allen Raymond
2      Chaim Lewis
3     Kennedy Lane
4       Wylie Pope
5    Cyrus Jackson
Name: name, dtype: object

In [16]:
# вибір стовпця за міткою
contacts.loc[5]   # немає IndexError  => index = 1,2,3,4,5 => мітка

name                 Cyrus Jackson
email       nibh@semsempererat.com
phone               (501) 472-5218
favorite                      True
Name: 5, dtype: object

In [17]:
# зріз за рядкамі

contacts[1:3] # index from 1 to 3 not included
# returned DataFrame

           name                          email           phone  favorite
2   Chaim Lewis            dui.in@egetlacus.ca  (294) 840-6685     False
3  Kennedy Lane  mattis.Cras@nonenimMauris.net  (542) 451-7038      True

In [18]:
# вибір рядків які відповідають умові
print(contacts[contacts["favorite"] == False])
print('*****')
print(contacts[contacts["favorite"]])
# returned DataFrame

            name                      email           phone  favorite
1  Allen Raymond  nulla.ante@vestibul.co.uk  (992) 914-3792     False
2    Chaim Lewis        dui.in@egetlacus.ca  (294) 840-6685     False
4     Wylie Pope          est@utquamvel.net  (692) 802-2949     False
*****
            name                          email           phone  favorite
3   Kennedy Lane  mattis.Cras@nonenimMauris.net  (542) 451-7038      True
5  Cyrus Jackson         nibh@semsempererat.com  (501) 472-5218      True

---
# прочитаємо CSV
---

Для читання текстових файлів з даними у форматі `CSV` в об'єкті `DataFrame` існує метод `read_csv`.
Метод приймає велику кількість можливих аргументів, але ми розберемо тільки основні, які стануть у пригоді нам у роботі:

`filepath_or_buffer` — шлях до зчитуваного файлу. Є обов'язковим параметром. Шлях може вказувати як локальний файл, так і URL для завантажування даних з мережі;

`sep` — роздільник стовпців. За замовчуванням кома ,, але можна використовувати значення:
`/s+` для стовпців, розділених пробільними символами;
`\t` для роздільників-табуляцій;
`None`, щоб бібліотека pandas сама спробувала логічно визначити символ-роздільник.

`delimiter` — псевдонім для аргументу sep;

`header` — номери рядків (індекси), які використовуються для імен стовпців. За замовчуванням header=0, що говорить про використання першого рядка для імен стовпців. Іноді у файлі немає заголовка, тоді потрібно присвоїти значення header=None і визначити імена стовпців в аргументі names;

`names` — послідовність неповторюваних імен стовпців, які використовуватимуться під час читання файлу;

`nrows` — кількість рядків, які зчитуються з файлу. Буває необхідно під час читання декількох рядків з дуже великого файлу для тестування або дослідження даних, що містяться в ньому;

`comment` — визначає символ, наприклад #, який при виявленні на початку рядка повідомляє про те, що весь рядок необхідно пропустити;

`skip_blank_lines` — за замовчуванням встановлено значення True – пропуск порожніх рядків у вхідному файлі. При встановленні значення False порожні рядки інтерпретуються як рядки із значень NaN;

`delim_whitespace` — можна встановити для цього аргумента значення True, замість визначення аргумента sep='\s+', щоб встановити, що стовпці даних розділяються символами пробілів.

In [19]:

users = pd.read_csv("users.csv")

print(users)

            name                          email           phone  favorite
0  Allen Raymond      nulla.ante@vestibul.co.uk  (992) 914-3792     False
1    Chaim Lewis            dui.in@egetlacus.ca  (294) 840-6685     False
2   Kennedy Lane  mattis.Cras@nonenimMauris.net  (542) 451-7038      True
3     Wylie Pope              est@utquamvel.net  (692) 802-2949     False
4  Cyrus Jackson         nibh@semsempererat.com  (501) 472-5218      True

In [ ]:
mrBeast = pd.read_csv('MrBeast_youtube_stats.csv')
print(mrBeast)